<template>
  <div class="carousel-container">
    <h1>Ultimas agregaciones</h1>
    <v-carousel
      v-if="agregaciones.length === 0"
      cycle
      height="400"
      hide-delimiter-background
      show-arrows-on-hover
    >
      <v-carousel-item>
        <v-sheet :color="colors[3]" height="100%">
          <v-row class="fill-height" align="center" justify="center">
            <div class="display-1">¡Los últimos paises que agregues se mostrarán aquí!</div>
          </v-row>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>

    <v-carousel
      v-else
      cycle
      height="400"
      hide-delimiter-background
      show-arrows-on-hover
    >
      <v-carousel-item v-for="(agregacion, i) in agregaciones" :key="i">
        <v-sheet :color="colors[i]" height="100%">
          <v-row class="fill-height" align="center" justify="center">
            <div class="display-1">
            <span>{{ agregacion.pais.name }}</span>
            
            </div>
          </v-row>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>
  </div>
</template>

<script>
export default {
  name: "Carousel",
  props: {
    agregaciones: Array,
  },
  data() {
    return {
      colors: [
        "indigo",
        "warning",
        "pink darken-2",
        "red lighten-1",
        "deep-purple accent-4",
      ],
    };
  },
};
</script>

<style scoped>
.carousel-container {
    margin: 50px 0px;
    text-align: center;
    min-width: 90vw;
}
.carousel {
    margin: 50px 20px;
}
</style>
