<template>
  <div>
    <v-dialog v-model="dialog" width="500">
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="red lighten-2" dark v-bind="attrs" v-on="on">
          Mostrar Likes 
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="headline grey lighten-2">
          Paises con Like
        </v-card-title>

        <v-card-text class="mt-5">
            <div v-for="(pais, i) in paisesConLike" :key="i">
                {{ pais.name }}
            </div>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialog = false">
            I accept
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
    };
  },
  props: {
      paisesConLike: Array
  }
};
</script>
