<template>
  <div>
    <v-app-bar
      color="deep-purple accent-4"
      dark
    >
      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-toolbar-title>Desafío Vuex</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn text>
        <router-link to='/'><span class="router-link">Ir a VueX</span></router-link>
      </v-btn>

    </v-app-bar>
  </div>
</template>

<style scoped>
.router-link {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

a {
    text-decoration: none;
}
</style>